<section data-id=<%= bookObj.id %>>
    <img src=<%= bookObj.image_url %> />
    <h2><%= bookObj.title %></h2>
    <p><%= bookObj.author %></p>
    <p><%= bookObj.description %></p>
    <p>Database ID: <%= bookObj.id %> (remove this later)</p>
</section>