<!DOCTYPE html>
<html>
    <head>
        <!-- head partial -->
        <link rel="stylesheet" type="text/css" href="styles/reset.css">
        <link rel="stylesheet" type="text/css" href="styles/base.css">
    </head>

    <body>

        <form action="/home" method="get">
            <label>
                <input type="button" name="searchButton"/>
            </label>
        </form>
        <button></button>
        <p><%= bookObj.author %></p>
        <p><%= bookObj.title %></p>
        <p><%= bookObj.isbn %></p>
        <p><%= bookObj.author %></p>
        <img src=<%= bookObj.image_url %> />
    </body>

    <footer>
         <!-- footer partial -->

    </footer>
</html>