<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head') %>
  </head>
  <body>
    <header><%- include('../../partials/header') %></header>
    <main>
      <section class="flex-container">
        <ul class="book-list">
          <% searchResults.forEach(book => { %>
          <div class="books">
            <li><img src=<%= book.image_url %>></li>
            <li><h3><%= book.title %></h3></li>
            <li><p><%= book.author %></p></li>
          </div>
          <% }) %>
        </ul>
      </section>
    </main>
  </body>
  <footer><%- include('../../partials/footer') %></footer>
</html>
