<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head') %>
  </head>
  <body>
    <header>
      <%- include('../../partials/header') %>
      <%- include('../../partials/nav.ejs') %>
    </header>
    <main>
      <ul class="book-list">
          <% searchResults.forEach(book => { %>
            <li class="books"><%= book.title %></li>
            <%- include('../../partials/detail-form', {formAction: 'save', book: book}) %>
          <% }) %>

      </ul>
    </main>
  </body>
  <footer><%- include('../../partials/footer') %></footer>
</html>
