<!DOCTYPE html>
<html>
    <head>
        <%- include('../../layout/head.ejs') %>
    </head>

    <body>
        
            <% searchResults.forEach( (bookObj)=> { %>
                <section>
                    <img src=<%= bookObj.image_url %> />
                    <h2><%= bookObj.title %></h2>
                    <p><%= bookObj.author %></p>
                    <p><%= bookObj.description %></p>
                </section>
            <% }); %>

    </body>

    <footer>
        <%- include('../../layout/footer.ejs') %>
    </footer>
</html>