<!DOCTYPE html>
<html>
    <head>
        <%- include('../../layout/head.ejs') %>
    </head>

    <body>
            <header>
                <%- include('../../layout/header') %>
            </header>

            <main>
                <h2>Search Results</h2>

                <% searchResults.forEach( (bookObj)=> { %>
                    <section>
                        <img src=<%= bookObj.image_url %> />
                        <h2><%= bookObj.title %></h2>
                        <p><%= bookObj.author %></p>
                        <p><%= bookObj.description %></p>
                                                
                        <button class="selectBook" >Select this book</button>
                        <!-- sourced from to-do app //textarea may need attention-->
                        <form class="bookDetails" id="create-form" action="/books" method="post"> 
                            <input type="hidden" name="_method" value="put" />
                            <input type="hidden" name="image_url" value="<%= bookObj.image_url %>" />
                            <fieldset>
                              <legend>Edit Book Details</legend>
                              <label for="title">Title:</label>
                              <input type="text" name="title" value="<%= bookObj.title %>" placeholder="<%= bookObj.title %>">
                              <label for="author">Author:</label>
                              <input type="text" name="author" value="<%= bookObj.author %>" placeholder="<%= bookObj.author %>">
                              <label for="description">Description:</label>
                              <input type="text" class="description" name="description" value="<%= bookObj.description %>" placeholder="<%= bookObj.description %>">
                              <label for="bookshelf">Bookshelf:</label>
                              <input type="text" name="bookshelf" value="<%= bookObj.bookshelf %>" placeholder="<%= bookObj.bookshelf %>" required>
                              <label for="isbn">ISBN:</label>
                              <input type="text" name="isbn" value="<%= bookObj.isbn %>" placeholder="<%= bookObj.isbn %>">
                              <button type="submit">Save </button>
                            </fieldset>
                          </form>


                    </section>

                <% }); %>

            </main>

    </body>

    <footer>
        <%- include('../../layout/footer.ejs') %>
    </footer>
</html>