<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header.ejs') %>
            <%- include('../partials/nav.ejs') %>
        </header>

        <ul id="savedBooks">
            <% results.forEach(book => { %>
                <li data-id="<%= book.id %>">
                    <h4>Book: <%= book.title %></h4>
                    <p>Author: <%= book.author %></p>
                    <a href="/books/<%= book.id %>">View Details</a>
                </li>
            <% }) %>
       </ul>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>

</html>