<!DOCTYPE html>
<html>
    <head>
        <%- include('../layout/head.ejs') %>
    </head>

    <body>
        <header>
           <%- include('../layout/header') %>
        </header>
        <main>
            <h2>My Books</h2>
            <% showDbBooks.forEach( (bookObj) => { %>
                <section data-id=<%= bookObj.id %>>
                    <img src=<%= bookObj.image_url %> />
                    <h2><%= bookObj.title %></h2>
                    <p><%= bookObj.author %></p>
                    <p><%= bookObj.description %></p>
                    <p>Database ID: <%= bookObj.id %> (remove this later)</p>
                    <a href="/books/<%= bookObj.id %>" >
                        <input type="submit" value="Detail View"></input>
                    </a>
                </section>
            <% }); %>
        </main>
        <footer>
            <%- include('../layout/footer.ejs') %>
        </footer>
    </body>

</html>