<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>
      <section class="flex-container">
        <ul class="book-list" id="savedBooks">
          <% results.forEach(book => { %>
          <div class="books">
            <li data-id="<%= book.id %>"></li>
            <li><img src=<%= book.image_url %></li>
            <li><h3>Book: <%= book.title %></h3></li>
            <li><p>Author: <%= book.author %></p></li>
            <li><a href="/books/<%= book.id %>">View Details</a></li>
          </div>
          <% }) %>
        </ul>
      </section>
    </main>

    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
