<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>
      <header>
          <%- include('../partials/header.ejs') %>
      </header>

        <%- include('../partials/nav.ejs') %>
        <%- include('../partials/form.ejs') %>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>

</html>